<div class="tile is-parent">
    <article class="tile is-child notification">
        <p class="title">Contact</p>
        <div class="content">
            <input class="input is-primary mb-2" type="text" placeholder="Your name" />
            <input class="input is-primary mb-2" type="text" placeholder="Email address" />
            <textarea class="textarea" placeholder="e.g. Hello world"></textarea>
            <div class="buttons mt-2">
                <button class="button is-primary">Send</button>
            </div>
        </div>
    </article>