<div class="tile is-parent">
    <article class="message">
        <div class="message-header">
            <p>Gin</p>
            <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
            <p class="mb-3">
                Gin /ˈdʒɪn/ is a distilled alcoholic drink that derives its
                predominant flavour from juniper berries (Juniperus
                communis).[1][2]
            </p>

            <p class="mb-3">
                Gin originated as a medicinal liquor made by monks and
                alchemists across Europe, particularly in southern France,
                Flanders and the Netherlands, to provide aqua vita from
                distillates of grapes and grains. It then became an object of
                commerce in the spirits industry. Gin emerged in England after
                the introduction of the jenever, a Dutch and Belgian liquor
                that was originally a medicine. Although this development had
                been taking place since the early 17th century, gin became
                widespread after the William of Orange-led 1688 Glorious
                Revolution and subsequent import restrictions on French
                brandy.
            </p>
            <p class="mb-3">
                Gin today is produced in different ways from a wide range of
                herbal ingredients, giving rise to a number of distinct styles
                and brands. After juniper, gin tends to be flavoured with
                botanical/herbal, spice, floral or fruit flavours or often a
                combination. It is commonly consumed mixed with tonic water in
                a gin and tonic. Gin is also often used as a base spirit to
                produce flavoured, gin-based liqueurs, for example sloe gin,
                traditionally produced by the addition of fruit, flavourings
                and sugar.
            </p>
        </div>
    </article>