<div class="tile is-parent">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://m.media-amazon.com/images/M/MV5BZjUyOTJlZmMtMzVkNS00MTNkLTk5ZTAtOTEzNWMwNmNiY2MyXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_.jpg"
                    alt="Placeholder image" style="height: 100%; width: 100%; object-fit: cover" />
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="https://pbs.twimg.com/profile_images/3092373536/e098e6697407e50cca45d4e52a13de0e.jpeg"
                            alt="Placeholder image" />
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">Dr. John A. Zoidberg</p>
                    <p class="subtitle is-6">@zoidbergj</p>
                </div>
            </div>
            <app-textcomponent>
                
            </app-textcomponent>




